﻿@model DeliveryService.Models.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Details</h1>

<div>
    <h4>CompanyViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Company">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
