﻿@model IEnumerable<DeliveryService.Models.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-dark" ><i class="fa fa-plus-circle"></i> Create New Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Company" class="btn btn-primary"> <i class="fa fa-pencil"></i> Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Company" class="btn btn-info"><i class="fa fa-eye"></i> Details</a> 
                <a asp-action="Delete" asp-controller="Company" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
