﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>About Us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Swift Delivery With Care</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section> 

<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Swift Delivery With Care</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>
        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-12">
                    <div class="about-feature-item active">
                        <i class="fa fa-car"></i>
                        <h3>CarDoor</h3>
                        <p>
                            CarDoor is  a registered Delivery Company that transport goods from customer specified pickup point to its destination at low cost.
                            This is to ease the stress in carrying goods from one point to another. CarDoor ensures that your goods are safe and are delivered in time without any breakages
                        </p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Us Area End ==-->
