﻿@model DeliveryService.Models.ViewModels.CustomerOrderViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form asp-action="Request" asp-controller="CustomerOrder">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="pickup-location book-item">
                                <label asp-for="PickupPoint" class="control-label"></label>
                                <select asp-for="PickupPoint" asp-items="Model?.PickupPointList" class="custom-select"></select>
                                <span asp-validation-for="PickupPoint" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <label asp-for="DeliveryPoint" class="control-label"></label>
                                <select asp-for="DeliveryPoint" asp-items="Model?.DeliveryPointList" class="custom-select"></select>
                                <span asp-validation-for="DeliveryPoint" class="text-danger"></span>
                            </div>

                            <div class="choose-car-type book-item">
                                <label asp-for="ShopReceipt" class="control-label"></label>
                                <input asp-for="ShopReceipt" class="form-control" />
                                <span asp-validation-for="ShopReceipt" class="text-danger"></span>
                            </div>
                            
                            <!--== Car Choose ==-->

                            <div class="book-button text-center">
                                <button class="book-now-btn">MAKE REQUEST</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>MAKE A REQUEST TODAY!</h1>
                                <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>

<section id="about-area" class="">
    <div class="container-padded">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.777161628739!2d-1.5738000846519302!3d6.67450882323969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb9461ea6fb9af%3A0xb0da4f6d9c4b361f!2sKwame+Nkrumah+University+of+Science+and+Technology+(KNUST)!5e0!3m2!1sen!2sgh!4v1564688757480!5m2!1sen!2sgh" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Section Title End -->
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Swift Delivery With Care</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Service Content Start -->
        <div class="row">
            <div class="col-lg-11 m-auto text-center">
                <div class="service-container-wrap">
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-home"></i>
                        <h3>Home Delivery</h3>
                        <p>We sure that all Items Purchased are Delivery with care to your specified location at an affordable price </p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-tint"></i>
                        <h3>WorkPlace Delivery</h3>
                        <p>We  Deliver Items Purchased to your specified Office With care</p>

                    </div>
                    <!-- Single Service End -->
                    <div class="service-item">
                        <i class="fa fa-tint"></i>
                        <h3>WorkPlace Delivery</h3>
                        <p>We  Deliver Items Purchased to your specified Office With care</p>

                    </div>

                </div>
            </div>
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->
<!--== Choose Car Area Start ==-->
<!--== Pricing Area Start ==-->
<section id="pricing-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Pricing Table</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>

                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Pricing Table Conatent Start -->
        <div class="row">
            <!-- Single Pricing Table -->
            <div class="col-lg-12 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>Pricing Table</h3>
                    <ul class="package-list">
                        <li> Company  | PickUp Location   | Destination Point  | Amount  </li>
                        @foreach (var item in ViewData["Prices"] as IEnumerable<DeliveryService.Models.ViewModels.PriceViewModel>)
                        {
                            <li>@item.Company => @item.PickupPoint => <span style="margin-left:20">@item.DeliveryPoint</span> => @item.Amount</li>

                        }

                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
        </div>
        <!-- Pricing Table Conatent End -->
    </div>
</section>

