﻿@model DeliveryService.Models.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Register</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Swift Delivery With Care</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>


<div class="contact-page-wrao section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="contact-form">
                    <form asp-action="Create" asp-controller="Customer">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CustomerName" class="control-label"></label>
                            <input asp-for="CustomerName" class="form-control" />
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CustomerContact" class="control-label"></label>
                            <input asp-for="CustomerContact" class="form-control" />
                            <span asp-validation-for="CustomerContact" class="text-danger"></span>
                        </div><br />
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-outline-dark" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
