﻿@model DeliveryService.Models.ViewModels.CustomerOrderViewModel

@{
    ViewData["Title"] = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Request</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Swift Delivery With Care</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<div class="container" style="padding:20px">
    <div class="row">
        <div class="col-md-12">
        <h3 class="text-center" style="padding:20px">Make A Request</h3>
            <form asp-action="Request" asp-controller="CustomerOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ShopReceipt" class="control-label"></label>
                    <input asp-for="ShopReceipt" class="form-control" />
                    <span asp-validation-for="ShopReceipt" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PickupPoint" class="control-label"></label>
                    <select asp-for="PickupPoint" asp-items="Model?.PickupPointList" class="form-control"></select>
                    <span asp-validation-for="PickupPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPoint" class="control-label"></label>
                    <select asp-for="DeliveryPoint" asp-items="Model?.DeliveryPointList" class="form-control"></select>
                    <span asp-validation-for="DeliveryPoint" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Complete Request" class="btn btn-primary form-control" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
