﻿@model IEnumerable<DeliveryService.Models.ViewModels.CustomerViewModel>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center" style="padding:20px">All Customers</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead class="">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContact)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerContact)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Customer" class="btn btn-dark">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Customer" class="btn btn-info"><i class="fa fa-eye"></i> Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Customer" class="btn btn-danger" ><i class="fa fa-remove"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
