﻿@model DeliveryService.Models.ViewModels.PriceViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>PriceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <select asp-for="CompanyId" asp-items="Model?.CompanyList" class="form-control"></select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupPoint" class="control-label"></label>
                
                <select asp-for="PickupPointID" asp-items="Model?.PickupPointList" class="form-control"></select>
                <span asp-validation-for="PickupPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPoint" class="control-label"></label>
                
                <select asp-for="DeliveryPointID" asp-items="Model?.DeliveryPointList" class="form-control"></select>
                <span asp-validation-for="DeliveryPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
