﻿@model IEnumerable<DeliveryService.Models.ViewModels.PriceViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center">Pricing Table</h3>

<p>
    <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus-circle"></i> Add New Price</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPoint)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Price" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Price" class="btn btn-info"><i class="fa fa-eye"></i> Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Price" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
