﻿@model IEnumerable<DeliveryService.Models.ViewModels.LocationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center" style="padding:20px">All Locations</h3>

<p>
    <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus-circle"></i> Create New Location</a>
</p><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-eye"></i> Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
