﻿@model DeliveryService.Models.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Administrator Sign In
                </span>
            </div>
                <form asp-action="Login" class="login100-form validate-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <label asp-for="Email"  class="label-input100"></label>
                        <input asp-for="Email" class="input100" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <label asp-for="Password" class="label-input100"></label>
                        <input asp-for="Password" class="input100" placeholder="Enter password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
